In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [14]:
#EXTRACT (Load Data)
df = pd.read_csv("Chocolate Sales.csv")
print("Data extracted successfully")
df

Data extracted successfully

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04-Jan-22,"$5,320",180
1,Van Tuxwell,India,85% Dark Bars,01-Aug-22,"$7,896",94
2,Gigi Bohling,India,Peanut Butter Cubes,07-Jul-22,"$4,501",91
3,Jan Morforth,Australia,Peanut Butter Cubes,27-Apr-22,"$12,726",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24-Feb-22,"$13,685",184
...,...,...,...,...,...,...
1089,Karlen McCaffrey,Australia,Spicy Special Slims,17-May-22,"$4,410",323
1090,Jehu Rudeforth,USA,White Choc,07-Jun-22,"$6,559",119
1091,Ches Bonnell,Canada,Organic Choco Syrup,26-Jul-22,$574,217
1092,Dotty Strutley,India,Eclairs,28-Jul-22,"$2,086",384
1093,Karlen McCaffrey,India,70% Dark Bites,23-May-22,"$5,075",344

In [4]:
df.head()

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04-Jan-22,"$5,320",180
1,Van Tuxwell,India,85% Dark Bars,01-Aug-22,"$7,896",94
2,Gigi Bohling,India,Peanut Butter Cubes,07-Jul-22,"$4,501",91
3,Jan Morforth,Australia,Peanut Butter Cubes,27-Apr-22,"$12,726",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24-Feb-22,"$13,685",184

In [5]:
df.isnull().sum()

Sales Person     0
Country          0
Product          0
Date             0
Amount           0
Boxes Shipped    0
dtype: int64

In [15]:
#PREPROCESSING (Cleaning)
# Rename columns
df.columns = df.columns.str.lower().str.replace(" ", "_")

# Convert date column
df['date'] = pd.to_datetime(df['date'])

# Remove $ sign and convert amount to numeric
df['amount'] = df['amount'].replace('[\$,]', '', regex=True).astype(float)

print("Data cleaned successfully")

Data cleaned successfully

C:\Users\abhis\AppData\Local\Temp\ipykernel_18500\229079447.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date'] = pd.to_datetime(df['date'])

In [16]:
#HANDLE MISSING VALUES
#Fill numeric columns with median
df.fillna(df.median(numeric_only=True), inplace=True)

# Fill categorical columns with mode
df.fillna(df.mode().iloc[0], inplace=True)

print("Missing values handled")

Missing values handled

In [17]:
#TRANSFORMATION (Feature Engineering)
#Date-based features
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month

# Revenue per box
df['revenue_per_box'] = df['amount'] / df['boxes_shipped']

df.head()

,sales_person,country,product,date,amount,boxes_shipped,year,month,revenue_per_box
0,Jehu Rudeforth,UK,Mint Chip Choco,2022-01-04,5320.0,180,2022,1,29.555556
1,Van Tuxwell,India,85% Dark Bars,2022-08-01,7896.0,94,2022,8,84.000000
2,Gigi Bohling,India,Peanut Butter Cubes,2022-07-07,4501.0,91,2022,7,49.461538
3,Jan Morforth,Australia,Peanut Butter Cubes,2022-04-27,12726.0,342,2022,4,37.210526
4,Jehu Rudeforth,UK,Peanut Butter Cubes,2022-02-24,13685.0,184,2022,2,74.375000

In [11]:
numerical_columns = ['amount', 'boxes_shipped', 'revenue_per_box']

scaler = StandardScaler()
df[numerical_columns] = scaler.fit_transform(df[numerical_columns])

print("Numerical features standardized")

Numerical features standardized

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sales_person     1094 non-null   object
 1   country          1094 non-null   object
 2   product          1094 non-null   object
 3   date             1094 non-null   datetime64[ns]
 4   amount           1094 non-null   float64
 5   boxes_shipped    1094 non-null   float64
 6   year             1094 non-null   int32
 7   month            1094 non-null   int32
 8   revenue_per_box  1094 non-null   float64
dtypes: datetime64[ns](1), float64(3), int32(2), object(3)
memory usage: 68.5+ KB

In [19]:
#LOAD 
df.to_csv("chocolate_sales_cleaned.csv", index=False)
df.to_excel("chocolate_sales_cleaned.xlsx", index=False)

print("Processed data saved successfully")

Processed data saved successfully